.App{
    background: rgba(182, 181, 252, 0.582);
    height: 100vh;
}
html{
    background: rgba(182, 181, 252, 0.582);
}
.todoCompleted{
    text-decoration: line-through;
    background: rgb(112, 219, 118);
}